html {
    font-size: 112%;
    height: 100%;
    width: 100%;
    z-index: 200;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    z-index: 150;
}

h1,
h2 {
    width: 55%;
    margin: auto;
}

.cs-acbMain {
    position: relative;
    width: 70%;
    margin: auto;
    z-index: 100;
}

.cs-acbParagraph {
    width: 58%;
    margin: auto;
    text-align: justify;
    word-break: keep-all;
    padding-bottom: 1em;
    z-index: 70;
}

.cs-acbCenter {
    text-align: center;
}

.cs-acbBold {
    font-size: 1.2rem;
    font-weight: 550;
}

.cs-acbBold1 {
    font-size: 2.2rem;
    font-weight: 800;
}

.cs-acbCrimson {
    color: crimson;
    font-size: .9rem;
    font-weight: 600;
}

.cs-acbGold {
    color: #9e6105;
}

.cs-acbJesusSays {
    color: rgb(20, 98, 243);
    background-color: #fcefed;
    padding-bottom: .1em;
    padding-left: 1em;
    padding-right: 1em;
}

.cs-acbNumber {
    font-size: .75rem;
    font-weight: 600;
    padding-right: .15em;
    color: #9e6105;
    vertical-align: .15em;
}

.cs-acbPardon {
    width: 40%;
}

.cs-acbSignature {
    font-style: italic;
}