html {
    font-size: 112%;
    height: 100%;
    width: 100%;
    z-index: 200;
    overflow: hidden;
}

body {
    background-color: #F6FBFE;
    height: 100%;
    min-height: 100%;
    width: 100%;
    overflow-x: auto;
    z-index: 150;
}

.cs-acbHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    box-shadow: 0 4px 5px rgba(112, 111, 111, 0.25);
    background-color: #BFCAD1;
    overflow: hidden;
    z-index: 125;
}

.cs-acbGold {
    color: #9e6105;
}

.cs-acbTitle {
    position: relative;
    left: 4%;
    width: 38%;
    font-size: 1.7rem;
    float: left;
}

.cs-acbMenu {
    position: relative;
    top: 1.7rem;
    left: 3%;
    height: 1.9rem;
    width: 45%;
    display: flex;
    padding-top: .1em;
    z-index: 100;
}

.cs-acbMenu>button:hover {
    cursor: pointer;
    color: rgb(122, 121, 121);
}

.cs-acbMenuBtn {
    font-size: .9rem;
    padding-left: 2em;
    outline: none;
    border: none;
    background-color: inherit;
    color: rgb(73, 73, 73);
}

.cs-acbMainContainer {
    position: relative;
    top: 15%;
    float: left;
    width: 98%;
    height: 100%;
    margin: auto;
    z-index: 110;
}

.cs-acbVersion {
    position: relative;
    top: 3%;
    height: 3%;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 550;
}

/* #region Controls for selecting books, chapter, and verses */
.cs-acbSelectContainer {
    position: fixed;
    top: 15%;
    left: 6.8%;
    border: 2px solid rgba(112, 111, 111, .4);
    box-shadow: 0 5px 7px rgba(112, 111, 111, 0.25);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 13.5%;
    height: 82%;
    float: Left;
    background-color: #e8eef1;
}

.cs-acbSelectLabel {
    display: flex;
    position: relative;
    background-color: #BFCAD1;
    padding-left: 10px;
    align-items: center;
    font-size: .95rem;
    font-weight: 550;
    border-left: 2px solid rgba(112, 111, 111, .4);
    border-top: 2px solid rgba(112, 111, 111, .4);
    border-right: 2px solid rgba(112, 111, 111, .4);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 5%;
    width: 26%;
    width: 76.5%;
    margin: auto;
}

.cs-acbBookLabel {
    top: 6%;
}

.arrow {
    display: block;
    position: relative;
    left: 60%;
    border: solid black;
    border-width: 0 .15em .15em 0;
    padding: .2em;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: all 0.2s ease;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 0.4s ease;
}

.cs-acbChapterLabel {
    top: 12%;
}

.cs-acbSelectBox {
    position: relative;
    font-size: 1.2rem;
    font-weight: 550;
    height: 24%;
    width: 80%;
    margin: auto;
    border: 2px solid rgba(112, 111, 111, .4);
}

.cs-acbBook {
    display: none;
    top: 6%;
    background-color: rgb(252, 248, 248);
}

.cs-acbOpenBook {
    display: block;
}

.cs-acbChapter {
    top: 12%;
    background-color: rgb(252, 248, 248);
}

/* #endregion Controls for selecting books, chapter, and verses */

.cs-acbPic1 {
    position: fixed;
    top: 16%;
    left: 78%;
    float: right;
    width: 13.5%;
    height: 34%;
}

.cs-acbImage1 {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 2px solid rgba(77, 76, 76, 0.4);
    box-shadow: 0 4px 7px rgba(59, 59, 59, 0.25);
    width: auto;
}

.cs-acbImage2 {
    position: relative;
    float: left;
    padding-right: .5em;
}

.cs-acbMainText {
    position: relative;
    width: 40.5%;
    margin: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: white;
    padding-top: .2em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-bottom: 2em;
    text-align: justify;
    word-break: keep-all;
    box-shadow: 0 5px 7px rgba(112, 111, 111, 0.25);
    z-index: 120;
}

.cs-acbTextTitle {
    font-size: 1.3rem;
    font-weight: 550;
}

.cs-acbNumber {
    font-size: .75rem;
    font-weight: 600;
    padding-right: .15em;
    color: #9e6105;
    vertical-align: .15em;
}